<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LigaMx Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="titulo">
        <h1>
            <span class="liga">LIGA</span><span class="mx">MX</span> Stats
        </h1>
        <p class="descripcion">Sigue en tiempo real los partidos, resultados y estadísticas de la Liga MX.</p>
    </div> 

    <div class="container">
        <h2>¡Únete a nuestro grupo de Telegram!</h2>
        <a href="https://t.me/+kz4uIFKkIdwzMzRh" class="btn" target="_blank">Entrar al Grupo</a>
    </div>
</body>
</html>
